:root {
}

.panel {
    background-color: rgb(0, 12, 36);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    background-color: rgb(17, 28, 61);
}

.unity-button {
    flex-grow: 1;
    margin-top: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-shrink: 0;
    font-size: 47px;
}

.unity-button:hover {
    background-color: rgb(30, 121, 213);
}

.slider {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.letter {
    opacity: 0;
    translate: 0 20px;
    transition-property: opacity, translate;
    transition-duration: 2s, 2s;
    transition-timing-function: ease-out, ease-out;
}

.letter-shown {
    opacity: 1;
    translate: 0 0;
}

.gmode-button {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Pix32.ttf?fileID=12800000&guid=d990ffd30b2c13544a3882ffcdf5a2af&type=3#Pix32");
    font-size: 70px;
    padding-top: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
}

.unity-collection-view__item--selected {
    background-color: rgb(0, 212, 255);
}
